﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemResultModel

@{
    ViewBag.Title = "Borrow Detail";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
    TempData["imageClass"] = "mx-auto d-block img-fluid detail_book_img";
    string categorySplitStr = string.Empty;
    string languageSplitStr = string.Empty;
}

<section class="detail_book">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-1">
                @Html.Partial("ItemImageView", @Model)
            </div>
            <div class="col-md-6">
                <div class="col-md-12 pt-md-2 text-md-left">
                    <span class="detail_book_title">
                        @Model.Title
                    </span>
                </div>
                <div class="col-md-12 pt-md-2 text-md-left">
                    <span class="detail_book_author">
                        @Model.Authors
                    </span>
                </div>
                <div class="col-md-12 pt-md-2 text-md-left">
                    <span class="detail_book_rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </span>
                </div>
                <div class="col-md-12 pt-md-2 text-md-left">
                    <span class="detail_book_description">
                        <p>
                            @Model.Subtitle
                        </p>
                    </span>
                </div>
                <hr class="detail_book_hr">

                @if (!string.IsNullOrEmpty(Model.ISBN))
                {
                    <div class="row">
                        <div class="col-md-12 pt-md-2 text-md-left">

                            <span class="detail_book_title_tag">ISBN : </span>
                            <span class="detail_book_tags">@Model.ISBN</span>

                        </div>
                    </div>
                }

                @if (!string.IsNullOrEmpty(Model.BorrowUserIdentity))
                {
                    <div class="row">
                        <div class="col-md-12 pt-md-2 text-md-left">

                            <span class="detail_book_title_tag">Booked By : </span>
                            <span class="detail_book_tags">@Adneom.Adneotheque.Common.Helpers.CommonHelpers.CleanUserDomain(Model.BorrowUserIdentity)</span>

                        </div>
                    </div>
                }
                <div class="row">
                    <div class="col-md-12 pt-md-2 text-md-left">
                        <span class="detail_book_title_tag">Category : </span>
                        @foreach (var itemCategory in Model.ItemCategories)
                        {
                            if (itemCategory.Category != null && !string.IsNullOrEmpty(itemCategory.Category.Name))
                            {
                                <span class="detail_book_tags">@categorySplitStr @itemCategory.Category.Name</span>
                            }
                            categorySplitStr = ",";
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pt-md-2 text-md-left">
                        <span class="detail_book_title_tag">Language : </span>
                        @foreach (var itemLanguage in Model.ItemLanguages)
                        {
                            if (itemLanguage.Language != null && !string.IsNullOrEmpty(itemLanguage.Language.Name))
                            {
                                <span class="detail_book_tags">@languageSplitStr @itemLanguage.Language.Name</span>
                            }
                            languageSplitStr = ",";
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pt-md-2 text-md-right">
                        @if (Model.Status != null)
                        {
                            if (Model.Status.ID == Adneom.Adneotheque.Domain.Models.Status.StatusModel.StatusEnum.Available.GetHashCode())
                            {
                                <button type="submit" name="process" class="btn btn-danger" onclick="location.href='@Url.Action("Apply","Borrow", new { id = Model.ID }, null)';"><i class="fab fa-leanpub"></i> Borrow</button>
                            }
                            else if (!string.IsNullOrEmpty(Model.BorrowUserIdentity) && Model.BorrowUserIdentity == User.Identity.Name)
                            {
                                <button type="submit" name="process" class="btn btn-info" onclick="location.href='@Url.Action("Apply","Return", new { id = Model.ID }, null)';"><i class="fab fa-undo-all"></i> Return</button>
                            }
                            else
                            {
                                if (Model.IsNotificationSent != true)
                                {
                                    <button type="submit" name="process" class="btn btn-info" onclick="location.href='@Url.Action("SendNotification","Borrow", new { id = Model.ID }, null)';">Send Notification</button>
                                }
                                else
                                {
                                    <span class="detail_book_tags">The notification is already sent before.</span>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container offset-md-2">
        <div class="tab_container">
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-info-circle"></i><span>Description</span></label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-comment"></i><span>Review</span></label>
            <section id="content1" class="tab-content">
                <p class="detail_book_tab_review">
                    @if (!string.IsNullOrEmpty(Model.Description))
                    {
                        @Model.Description
                    }
                    else
                    {
                        @Html.Raw("No description to show")
                    }
                </p>
            </section>
            <section id="content2" class="tab-content">
                <p class="detail_book_tab_review">
                    Coming soon...
                </p>
            </section>
        </div>
    </div>
</section>