﻿@model IList<Adneom.Adneotheque.Domain.Models.Item.ItemResultModel>

@{
    ViewBag.Title = "Search - All Books";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
    TempData["imageClass"] = "card-img-top img-fluid card";
    int currentPage = ViewBag.CurrentPage;
    int totalPageCount = ViewBag.TotalPageCount;
    int prevPageNum = currentPage - 1;
    int nextPageNum = currentPage + 1;
    string excludedQueryStrings = ViewBag.ExcludedQueryStrings;
    if (string.IsNullOrEmpty(excludedQueryStrings))
    {
        excludedQueryStrings = excludedQueryStrings + "?page=";
    }
    else
    {
        excludedQueryStrings = excludedQueryStrings + "&page=";
    }
}

<section class="search_bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-1 d-block d-md-none logo">
                <img class="float-sm-right logo_header-2" src="/assets/pictures/Logo.png">
            </div>
            <div class="col-md-5">

                @Html.Action("SubSearchBoxView", "Search", new { search = ViewBag.SearchModel })

            </div>
            <div class="col-md-6 offset-1 d-none d-md-block logo">
                <img class="float-sm-right logo_header" src="/assets/pictures/Logo.png">
            </div>
        </div>
    </div>
</section>

<section class="all_books">
    <div class="container">
        <div class="row justify-content-center mb-3">
            <h1>ALL BOOKS</h1>
        </div>
        <div class="row">
            <div class="col-md-3 menu-left">
                @Html.Partial("SeachPageSideMenuView")
            </div>

            <div class="col-md-9 content_all-books">
                <div class="container">
                    <div class="row">
                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (Adneom.Adneotheque.Domain.Models.Item.ItemResultModel item in Model)
                            {
                                <div class="col-lg-3 col-md-6">
                                    <div class="info-book">
                                        <span class="status">NEW</span>
                                        @Html.Partial("LanguageTagView", item)
                                    </div>

                                    @Html.Partial("ItemImageView", item)

                                    <div class="card-body">
                                        <a href="@Url.Action("Detail","Search", new { id = item.ID }, null)" class="card_book_link">
                                            <h4 class="card-title">@item.Title</h4>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <h3 class="pb-3">No Result</h3>
                        }

                    </div>
                </div>

                @if (ViewBag.ShowPagination)
                {
                    <nav aria-label="Pagination">

                        <ul class="pagination justify-content-center">

                            @{
                                string prevLiClass = "page-item";
                                if (currentPage == 1)
                                {
                                    prevLiClass = "page-item disabled";
                                }
                            }

                            <li class="@prevLiClass">
                                <a class="page-link" href="@excludedQueryStrings@prevPageNum" tabindex="-1">Previous</a>
                            </li>

                            @for (int i = 1; i <= totalPageCount; i++)
                            {
                                if (i <= 3 || totalPageCount <= 6 || i >= 6)
                                {
                                    string liClass = "page-item";
                                    if (currentPage == i)
                                    {
                                        liClass = "page-item active disabled";
                                    }

                                    <li class="@liClass">
                                        <a class="page-link" href="@excludedQueryStrings@i">@i</a>
                                    </li>
                                }
                                else if (totalPageCount > 6 && currentPage == 3)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="#">...</a>
                                    </li>
                                }
                            }

                            @{
                                string nextLiClass = "page-item";
                                if (currentPage == totalPageCount)
                                {
                                    nextLiClass = "page-item disabled";
                                }
                            }

                            <li class="@nextLiClass">
                                <a class="page-link" href="@excludedQueryStrings@nextPageNum">Next</a>
                            </li>

                        </ul>
                    </nav>
                }

            </div>

        </div>
    </div>
</section>

@Html.Partial("NewBookRequestView")