﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "Error";
}

<h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Something really bad</h1>
<h2>Oops... Error!</h2>

<p class="mt-4">If you think you have arrived here by our mistake, Wait a little and come later ;)</p>

@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
    <div>
        <p>
            <b>Exception:</b> @Model.Exception.Message<br />
            <b>Controller:</b> @Model.ControllerName<br />
            <b>Action:</b> @Model.ActionName
        </p>
        <div style="overflow:scroll">
            <pre>
                    @Model.Exception.StackTrace
                </pre>
        </div>
    </div>
}