﻿@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_LayoutError.cshtml";
    ViewBag.Title = "404";
}

<h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 404</h1>
<h2>Oops... Page Not Found!</h2>
<h3> It seems that the back-end is sleeping for the moment ;) </h3>

<p class="mt-4">If you think you have arrived here by our mistake, Wait a little and come later ;)</p>