﻿@model IList<Adneom.Adneotheque.Domain.Models.Item.ItemResultModel>

@{
    ViewBag.Title = "Return List";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<link href="/assets/css/tableresponsive.css" rel="stylesheet">

<section>
    <div class="container pt-5">
        @if (Model != null && Model.Count > 0)
        {
            <h3 class="pb-3">You have booked @Model.Count books.</h3>
        }
        else
        {
            <h3 class="pb-3">You have no books.</h3>
        }
    </div>
</section>
@if (Model != null && Model.Count > 0)
{
    <section id="cd-table">
        <header class="cd-table-column">
            <h2>Informations</h2>
            <ul>
                <li>ISBN</li>
                <li>Date of borrow</li>
                <li>Date of return</li>
                <li>Action</li>
            </ul>
        </header>
        <div class="cd-table-container">
            <div class="cd-table-wrapper">

                @foreach (Adneom.Adneotheque.Domain.Models.Item.ItemResultModel item in Model)
                {
                    <div class="cd-table-column">
                        <h2>@item.Title</h2>
                        <ul>
                            <li>@item.ISBN</li>
                            <li>@Html.Raw(Adneom.Adneotheque.Common.Helpers.ItemHelper.GetItemBorrowDateStr(item.BorrowedDate))</li>
                            <li>@Html.Raw(Adneom.Adneotheque.Common.Helpers.ItemHelper.GetItemDateStrToReturn(item.BorrowedDate))</li>
                            <li>
                                <a class="btn btn-info mt-2" href="@Url.Action("Apply","Return", new { id = item.ID }, null)" role="button">Return</a>
                            </li>
                        </ul>
                    </div> <!-- cd-table-column -->
                }

            </div> <!-- cd-table-wrapper -->
        </div> <!-- cd-table-container -->
        <em class="cd-scroll-right"></em>
    </section> <!-- cd-table -->
}