/* Base */
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  line-height: 18px;
  color: #52bfb2;
  background: url(/assets/pictures/Bg_404.jpg) no-repeat 50%;
  background-size: cover;
  background-attachment: fixed;
  text-align: center; }

.container {
  margin-top: 8%; 
}

a {
  color: #3498db; 
}

a:hover {
  color: #3498db;
  text-decoration: underline; 
}

h1 {
  color: #52bfb2;
  font-size: 100px; 
}

h2 {
  font-size: 35px; 
}

h3 {
  margin-top: 50px !important; 
}

p {
  font-size: 18px; 
}


