/*
/   SECTIONS
*/

.homepage {
    padding-bottom: 40px;
}

.list_books {
    padding-top: 40px;
}

/*
/   FULL SCREEN BACKGROUD
*/

.homepage {
    background-image: url(/assets/pictures/photo-accueil.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #464646;
}

.Logo-Title {
    color: #FFFFFF;
    font-weight: 20px;
    text-decoration: none;
}

/* 
/   CONTENT
*/

/* Text Styles */
.content {
    margin-top: 100px;
}

    .content h1 {
        font-size: 68px;
        color: #ffffff;
        margin-bottom: 32px;
        margin-top: 0;
        text-shadow: 1px 1px 55px rgba(0, 0, 0, 0.47);
        letter-spacing: -2px;
        font-family: 'Montserrat 700', sans-serif;
    }

    .content h3 {
        color: #ffffff;
        line-height: 1.3;
        font-size: 30px;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.37);
        font-weight: 400;
        max-width: 790px;
        font-family: 'Roboto 400', sans-serif;
    }


/* Header Style */
.btn {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px 30px;
    z-index: 1;
    color: #FFFFFF;
}

    .btn:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border: 2px solid #fff;
        z-index: -1;
    }

.btn-navy {
    background: transparent;
    border: none;
    color: #FFFFFF;
    padding: 9px 33px;
    transition: 0.3s;
    margin-right: 36px;
    margin-top: 10px;
}

    .btn-navy:hover {
        color: #FFFFFF;
        border: none;
        -webkit-transform: skew(-7deg);
        -ms-transform: skew(-7deg);
        -o-transform: skew(-7deg);
        transform: skew(-7deg);
        background: 0 0;
        -o-transition: .3s background ease,.3s border ease;
        transition: .3s background ease,.3s border ease;
    }

/* Custom Input */
.form-search .input-search {
    color: #1F1F1F;
    width: 400px;
    height: 60px;
}

.form-search .btn-form {
    color: #FFFFFF;
    background-color: red;
    height: 60px;
    width: 170px;
    margin-left: 30px;
}

/*
/   BOOKS ON BOTTOM
*/
.card {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 5px;
}

.info-book {
    position: absolute;
    width: 74px;
    margin: 20px 0px;
    padding-left: 0px;
    z-index: 1;
}

.status {
    background-color: red;
    color: white;
    padding: 1px 8px;
    width: 74px;
    height: 18px;
}

.langue {
    background-color: #a2c5ce;
    color: white;
    padding: 1px 8px;
    width: 74px;
    height: 18px;
}

.card-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.card_book_link {
    color: #212529;
}

    .card_book_link:hover {
        color: #52bfb2;
        text-decoration: none;
    }

.card {
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-transition: .25s box-shadow;
    transition: .25s box-shadow;
    height: 400px;
}

    .card:focus,
    .card:hover {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }

.card-inverse .card-img-overlay {
    background-color: rgba(51, 51, 51, 0.85);
    border-color: rgba(51, 51, 51, 0.85);
}

/* ------------------------------------- 
    INPUT STYLE FORM 
------------------------------------- */
.form-search {
    margin: 50px 0px 25px 0px;
}

input.form-control, select.form-control, textarea.form-control {
    background: #fff;
    border: 2px solid #e8ebed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    color: #999;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 12px;
    height: 60px;
}

    input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
        background: #fff;
        border: 2px solid #52bfb2;
    }

/* FOOTER */
.footer-area {
    position: relative;
    background: #FFFFFF;
}

.footer-content {
    margin-top: 30px;
    border-top: 1px solid #3a414c;
}

.logo_footer {
    width: 215px;
    height: 78px;
}

.footer-bottom li {
    display: inline-block;
    line-height: 90px;
    margin: 0 2px;
}

.footer-right {
    color: #a5afbf;
    font-weight: 400;
    line-height: 90px;
    margin-bottom: 0;
    text-align: right;
}

.company_name {
    color: red;
    font-weight: bold;
}

/* MOBILE CODE VERSION */

/* IPhone */
@media only screen and (max-device-width: 767px) {

    .homepage {
        background-image: url(/assets/pictures/photo-accueil.jpg);
        background-position: center center;
    }

    .btn {
        margin-right: 0px;
        margin-left: 0px;
    }

    .form-search .input-search {
        width: 100%
    }

    .form-search .btn-form {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }

    .info-book {
        margin-left: 0px;
    }

    .footer-right, .footer-left {
        text-align: center;
    }
}

/* Ipad */
@media only screen and (min-width : 768px) and (max-device-width: 1023px) {
    .homepage {
        background-image: url(/assets/pictures/photo-accueil.jpg);
        background-position: center center;
    }

    .form-search .input-search {
        width: 300px;
    }

    .form-search .btn-form {
        margin-left: 30px;
    }

    .card {
        height: 500px;
    }

    .info-book {
        margin-left: 0px;
    }
}
