/* ------------------------------------- 
    RESET 
------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

/* ------------------------------------- 
    SECTIONS 
------------------------------------- */

.navbar_bg {
    background-color: #52bfb2;
}

.all_books {
    padding-top: 40px;
}

.menu_left {
    background-color: #FFFFFF;
}

.content_all-books {
    background-color: #FFFFFF;
}

.search_bar {
    padding: 0px;
}

.newsletter {
    background-color: #d5edf3;
    padding-bottom: 30px;
}

.formulaire {
    padding: 40px;
}

.detail_book {
    padding: 40px;
}

.thankyou {
    padding: 40px;
}

.about {
    padding: 40px;
}

/* ------------------------------------- 
    CUSTOM NAV BAR 
------------------------------------- */

.navbar {
    margin-bottom: 0;
    background: #52bfb2;
    border: 0;
    color: #FFFFFF;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
}

    .navbar a {
        color: #FFFFFF;
        text-decoration: none;
    }

ul.navbar-nav {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar-green .navbar-nav .nav-link {
    color: #FFFFFF;
    padding-right: 36px;
}

.navbar-green .navbar-nav .active > .nav-link {
    color: #45c3d3;
}

.btn-account {
    background: transparent;
    border: 2px solid #FFFFFF;
    padding: 9px 33px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

    .btn-account:hover {
        background: #FFFFFF;
        color: #52bfb2;
    }

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 0.25rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

/* ------------------------------------- 
    SEARCH BAR AND LOGO 
------------------------------------- */

#wrap {
    margin: 50px 50px 0 0;
    display: inline-block;
    height: 60px;
    float: right;
    padding: 0;
    position: relative;
}

input[type="text"].searchtop {
    height: 67px;
    font-size: 30px;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    border: none;
    outline: none;
    color: #555;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

    input[type="text"].searchtop:focus:hover {
        border-bottom: 1px solid #52bfb2;
    }

    input[type="text"].searchtop:focus {
        width: 300px;
        z-index: 1;
        border-bottom: 1px solid #52bfb2;
        cursor: text;
        margin-right: 63px;
    }

input[type="submit"] {
    height: 67px;
    width: 63px;
    display: inline-block;
    float: right;
    color: #FFFFFF;
    background-color: #52bfb2;
    background: #52bfb2 url(/assets/pictures/search.svg) center center no-repeat;
    text-indent: -10000px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity: 0.8;
    cursor: pointer;
    transition: opacity .4s ease;
}

    input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:focus:hover {
        opacity: 0.8;
    }

.logo_header {
    width: 215px;
    height: 78px;
    margin-top: 50px;
}


/* ------------------------------------- 
    MENU LEFT WITH FILTERS 
------------------------------------- */

ul {
    list-style-type: none;
}

.menu {
    width: 100%;
    max-width: 360px;
    margin: 0px auto 60px;
    padding-left: 10px;
    background: #FFFFFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    .menu .link {
        cursor: pointer;
        display: block;
        padding: 15px 15px 15px 0px;
        color: #4D4D4D;
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #CCC;
        position: relative;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

    .menu li:last-child .link {
        border-bottom: 0;
    }

    .menu li i {
        position: absolute;
        top: 16px;
        left: 12px;
        font-size: 18px;
        color: #595959;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        .menu li i.fa-chevron-down {
            right: 12px;
            left: auto;
            font-size: 16px;
        }

    .menu li.open .link {
        color: #4D4D4D;
    }

    .menu li.open i {
        color: #4D4D4D;
    }

    .menu li.open i.fa-chevron-down {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .menu li i.filtersOn {
        margin-left: 70px;
        margin-top: 2px;
        color: #52bfb2;
    }

/**
 * Submenu
 -----------------------------*/
.submenu {
    display: none;
    background: #FFFFFF;
    font-size: 14px;
}


    .submenu span {
        display: block;
        text-decoration: none;
        color: #595959;
        padding: 12px;
        padding-left: 10px;
        -webkit-transition: all 0.25s ease;
        -o-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

        /*.submenu a:hover {
            background: transparent;
            color: #52bfb2;
            font-weight: normal;
        }*/

/* ------------------------------------- 
        CUSTOM CHECKBOX IN FILTER MENU 
    ------------------------------------- */

.filter_checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 25px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #FFFFFF;
    border: 2px solid #52bfb2;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 0;
    outline: none;
    position: relative;
    z-index: 1000;
    font-family: initial;
}

}

.filter_checkbox:hover {
    background: #52bfb2;
}

.filter_checkbox:checked {
    background: #52bfb2;
}

    .filter_checkbox:checked::before {
        display: inline-block;
        text-align: center;
        line-height: 22px;
        font-size: 18px;
        height: 22px;
        width: 20px;
        position: absolute;
        /*content: '\2716'; cross */
        content: '\2713';
    }

    .filter_checkbox:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #52bfb2;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }

/* ------------------------------------- 
    BOOKS STYLE 
------------------------------------- */
.card {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 0 5px;
}

.info-book {
    position: absolute;
    width: 74px;
    margin: 20px 0px;
    padding-left: 0px;
    z-index: 1;
}

.status {
    background-color: red;
    color: white;
    padding: 1px 8px;
    width: 74px;
    height: 18px;
}

.langue {
    background-color: #a2c5ce;
    color: white;
    padding: 1px 8px;
    width: 74px;
    height: 18px;
}

.card-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.card_book_link {
    color: #212529;
}

    .card_book_link:hover {
        color: #52bfb2;
        text-decoration: none;
    }

/* ------------------------------------- 
    NEWSLETTER 
------------------------------------- */

.news_title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

.news_description {
    font-size: 12px;
    color: grey;
    padding: 10px;
    width: 100%;
}

.news_inputmail {
    border-color: #52bfb2;
    font-size: 12px;
    color: grey;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.btn-newsletter, .btn-newsletter:hover {
    color: #FFFFFF;
    background-color: #52bfb2;
    width: 130px;
    margin-top: 20px;
}

.book_picture {
    width: 100%;
    padding: 10px;
}

.book_month_author {
    font-size: 30px;
}

.book_month_title {
    font-size: 24px;
}

.book_month_rating {
    font-size: 30px;
}

/* ------------------------------------- 
    INPUT STYLE FORM 
------------------------------------- */
input.form-control, select.form-control, textarea.form-control {
    background: #fff;
    border: 2px solid #e8ebed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    color: #999;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 6px 12px;
    height: 60px;
}

    input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
        background: #fff;
        border: 2px solid #52bfb2;
    }

.styled-select {
    width: 100%;
    overflow: hidden;
    height: 60px;
    background: url('/assets/pictures/arrow_down.svg') right center no-repeat #fff;
    border: 2px solid #e8ebed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    .styled-select select {
        background: 0 0;
        width: 107%;
        padding: 5px 5px 5px 15px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        height: 60px;
        color: #999;
        margin: 0;
        font-weight: 400;
        -moz-appearance: window;
        -webkit-appearance: none;
        cursor: pointer;
        outline: 0;
    }

.btn-donate {
    color: #FFFFFF;
    background-color: #52bfb2;
    margin: 60px 0 0 0;
    padding: 10px 10px;
    width: 100px;
    height: 60px;
}

span.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus.select2-container--open {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 10px 5px;
}

.select2-container--default .select2-selection--multiple {
    background: none !important;
    border: none !important;
}

/* ------------------------------------- 
        CUSTOM CHECKBOX IN FORM 
    ------------------------------------- */
@-webkit-keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

@-moz-keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

@keyframes click-wave {
    0% {
        height: 40px;
        width: 40px;
        opacity: 0.35;
        position: relative;
    }

    100% {
        height: 200px;
        width: 200px;
        margin-left: -80px;
        margin-top: -80px;
        opacity: 0;
    }
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    top: 13.3333333333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 42px;
    width: 42px;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    transition: all 0.15s ease-out 0s;
    background: #FFFFFF;
    border: 2px solid #52bfb2;
    color: white;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.6rem;
    outline: none;
    position: relative;
    z-index: 1000;
    font-family: initial;
}

}

.option-input:hover {
    background: #52bfb2;
}

.option-input:checked {
    background: #52bfb2;
}

    .option-input:checked::before {
        height: 42px;
        width: 42px;
        position: absolute;
        font-family: "FontAwesome";
        content: "\f00c";
        display: inline-block;
        font-size: 26.6666666667px;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
    }

    .option-input:checked::after {
        -webkit-animation: click-wave 0.65s;
        -moz-animation: click-wave 0.65s;
        animation: click-wave 0.65s;
        background: #52bfb2;
        content: '';
        display: block;
        position: relative;
        z-index: 100;
    }

.option-input.radio {
    border-radius: 50%;
}

    .option-input.radio::after {
        border-radius: 50%;
    }


/* ------------------------------------- 
    DETAIL BOOK PAGE 
------------------------------------- */

.detail_book_img {
    width: 320px;
    height: auto;
}

.detail_book_title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #030303;
}

.detail_book_author {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #52bfb2;
}

.detail_book_rating {
    width: 9px;
    height: 9px;
    color: #52bfb2;
}

.detail_book_description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #4a4a4a;
}

.detail_book_hr {
    color: #4a4a4a;
    background-color: #4a4a4a;
    height: 3px;
    width: 200px;
    margin-left: 10px;
}

.detail_book_title_tag {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: #4a4a4a;
}

.detail_book_tags {
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: left;
    color: red;
}

/* ------------------------------------- 
    PAGINATION STYLE 
------------------------------------- */

.page-link {
    color: #212529;
}

.page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color: #52bfb2;
    border-color: #52bfb2;
}

/* ------------------------------------- 
    CUSTOM PAGE 
------------------------------------- */

.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
}

.tab-content {
    clear: both;
    padding-top: 10px;
    display: none;
}

input[type="radio"] {
    display: none;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display: block;
    padding: 20px;
    background: #fff;
    color: #999;
    border-bottom: 2px solid #f0f0f0;
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked + label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 20%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #FFFFFF;
    box-shadow: inset 0 3px #0CE;
}

.tab_container [id^="tab"] + label {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 20%;
    padding: 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0;
}

.tab_container [id^="tab"]:checked + label .fa {
    color: #0CE;
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

/* Media query */
@media only screen and (max-width: 930px) {
    label span {
        font-size: 14px;
    }

    label .fa {
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    label span {
        display: none;
    }

    label .fa {
        font-size: 16px;
    }

    .tab_container {
        width: 98%;
    }
}

/* Content Animation */
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.detail_book_tab_review {
    font-size: 20px;
    color: #4a4a4a;
}


/* ------------------------------------- 
    THANK YOU PAGE 
------------------------------------- */

.headline-support {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.headline {
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

.vertical-space {
    margin: 40px 0;
}

.btn-link {
    color: #4a4a4a;
    text-decoration: none;
}

    .btn-link:hover {
        color: #4a4a4a;
        text-decoration: none;
    }

/* ------------------------------------- 
    FOOTER 
------------------------------------- */
.footer-area {
    position: relative;
    background: #FFFFFF;
}

.footer-content {
    margin-top: 30px;
    border-top: 1px solid #3a414c;
}

.logo_footer {
    width: 215px;
    height: 78px;
}

.footer-bottom li {
    display: inline-block;
    line-height: 90px;
    margin: 0 2px;
}

.footer-right {
    color: #a5afbf;
    font-weight: 400;
    line-height: 90px;
    margin-bottom: 0;
    text-align: right;
}

.company_name {
    color: red;
    font-weight: bold;
}

/* ------------------------------------- 
    MOBILE CODE IPHONE AND IPAD 
------------------------------------- */
/* IPhone */
@media only screen and (max-device-width: 767px) {

    .input-search {
        width: 100%;
    }

    .btn-form {
        margin-top: 60px;
        width: 100%;
        margin: 10px 0 0 0;
    }

    .info-book {
        margin-left: 0px;
    }

    .logo {
        text-align: center;
        margin-top: 0px;
    }

    .logo_header {
        width: 215px;
        height: 78px;
        margin-top: 10px;
    }

    .logo_header-2 {
        width: 215px;
        height: 78px;
        margin-top: 0px;
    }

    .input-search {
        margin: 10px 0 0 0;
    }

    .btn-newsletter {
        width: 100%;
    }

    .footer-right, .footer-left {
        text-align: center;
    }

    .book_month_bg {
        border-radius: 20px;
        background-color: #FFFFFF;
        padding-bottom: 20px;
        background-image: url('/assets/pictures/Bg_news_book.png');
        background-size: cover;
    }

    .book_month_rating {
        font-size: 20px;
    }

    .book_picture {
        width: 100%;
        padding: 25px 10px 20px 10px;
    }

    .book_month_author {
        font-size: 28px;
    }

    .book_month_title {
        font-size: 25px;
    }

    .book_month_rating {
        font-size: 20px;
    }

    #wrap {
        margin: 50px 0 0 0;
        display: inline-block;
        height: 60px;
        float: right;
        padding: 0;
        position: relative;
    }

    input[type="text"].searchtop:focus {
        width: 200px;
        z-index: 1;
        border-bottom: 1px solid #52bfb2;
        cursor: text;
        margin-right: 63px;
    }

    /* Position Checkbox */
    .filter_checkbox {
        margin: -35px 5px 0px 0px;
        float: right;
    }
}

/* Ipad */
@media only screen and (min-width : 768px) and (max-device-width: 1023px) {
    .book_picture {
        width: 100%;
        padding: 25px 10px 20px 10px;
    }

    .book_month_author {
        font-size: 17px;
    }

    .book_month_title {
        font-size: 15px;
    }

    .book_month_rating {
        font-size: 15px;
    }

    /* Position Checkbox */
    .filter_checkbox {
        margin: 0px -20px;
    }
}

/* DESKTOP*/
@media only screen and (min-width : 1024px) and (max-device-width: 1439px) {
    .book_picture {
        width: 100%;
        padding: 25px 10px 20px 10px;
    }

    .book_month_author {
        font-size: 28px;
    }

    .book_month_title {
        font-size: 24px;
    }

    .book_month_rating {
        font-size: 15px;
    }

    label {
        width: 25%;
    }
}
