
a {
  color: #52bfb2; 
}

a:hover {
  color: #52bfb2;
  text-decoration: none; 
}

h1 {
  color: #52bfb2;
  font-size: 60px; 
  text-align: center;
  margin-top: 30px;
}

h2 {
  font-size: 35px; 
  text-align: center;
  color: #52bfb2;
}

p {
  margin-top: 50px !important;
  text-align: center; 
  color: black;
}
