﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <title>@ViewBag.Title - Adneotheque</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <!--============================= HEADER =============================-->
    <!-- Top menu -->
    <section class="navbar_bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav class="navbar navbar-expand-lg navbar-green">
                        <a class="navbar-brand" href="@Url.Action("Index","Home")">Adneotheque</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("About","Home")">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Index","Search")">See All Books</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Search","Donate")">Donate</a>
                                </li>
                                @Html.Partial("UserInfoView")
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!--============================= Content =============================-->

    @RenderBody()

    <!--//END Content -->
    <!-- footer start -->
    <footer class="footer-area">
        <div class="footer-bottom">
            <div class="container">
                <div class="row footer-content">
                    <div class="col-md-6">
                        <div class="footer-left">
                            <img class="logo_footer" src="/assets/pictures/Logo.png">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-right">
                            <span>&copy; @DateTime.Now.Year <span class="company_name">ADNEOM</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/fontawesome.js"></script>
    <script src="/assets/js/adneotheque.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>*@

    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.js"></script>
    <script>
        $(document).ready(function () {
            $('.categoryDropDown').select2({
                tags: true,
                tokenSeparators: [',']
            });

            $('.languageDropDown').select2({
                tags: true,
                tokenSeparators: [',']
            });

            $('.js-example-basic-multiple').select2({
                tags: true,
                tokenSeparators: [',']
            });
        });
    </script>
</body>
</html>
