﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - Adneotheque</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="favicon.ico">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/adneotheque.css" rel="stylesheet">
    <!--[if IE]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>
<body>

    <section class="homepage">
        <!--============================= HEADER =============================-->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <a class="navbar-brand" href="@Url.Action("Index","Home")">
                                <span class="Logo-Title">Adneotheque</span>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li>
                                        <a href="@Url.Action("About","Home")" class="btn btn-navy">About</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index","Search")" class="btn btn-navy">See All Books</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Search","Donate")" class="btn btn-navy">Donate</a>
                                    </li>
                                    @Html.Partial("UserInfoView")
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <!--//END HEADER -->
        <!--============================= Content =============================-->

        @RenderBody()

    </section>
    <!--//END Content -->

    @Html.Partial("FeaturedBooksView")

    <!-- footer start -->
    <footer class="footer-area">
        <div class="footer-bottom">
            <div class="container">
                <div class="row footer-content">
                    <div class="col-md-6">
                        <div class="footer-left">
                            <img class="logo_footer" src="/assets/pictures/Logo.png">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="footer-right">
                            <span>&copy; @DateTime.Now.Year <span class="company_name">ADNEOM</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer End -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/js/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/adneotheque.js"></script>
</body>
</html>
