﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemResultModel

<script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
<script type="text/javascript">
    var bookNO = 'ISBN:'+ @Model.ISBN;
    google.books.load();

    function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        viewer.load(bookNO);
    }

    google.books.setOnLoadCallback(initialize);
</script>

@if (!string.IsNullOrEmpty(Model.GoogleBooksVolumeID) && !string.IsNullOrEmpty(Model.ISBN))
{
    <h4>You can preview <a href="https://books.google.be/books?id=@Model.GoogleBooksVolumeID.Trim()&dq=isbn:@Model.ISBN.Trim()" target="_blank">here. </a></h4>
}
<hr />

<div id="viewerCanvas" style="width: 900px; height: 1000px"></div>