﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemResultModel

<div class="form-group">
    @Html.Label("Categories", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="styled-select">
        @Html.ListBoxFor(m => m.SelectedCategoryItems, new SelectList(Model.AllCategoryItems, "Name", "Name"), new { @class = "categoryDropDown", @multiple = "multiple" })
    </div>
</div>