﻿<!-- ALL BOOK -->
@{
    Adneom.Adneotheque.Business.Services.ItemService itemService = new Adneom.Adneotheque.Business.Services.ItemService();
    IList<Adneom.Adneotheque.Domain.Models.Item.ItemResultModel> itemList = itemService.GetFeaturedItems();    
    TempData["imageClass"] = "card-img-top img-fluid card";
}
<section class="list_books">
    <div class="container">
        <div class="row">

            @foreach (var item in itemList)
            {
            <div class="col-lg-3 col-md-6">
                <div class="info-book">
                    <span class="status">NEW</span>
                    @Html.Partial("LanguageTagView", item)
                </div>

                @Html.Partial("ItemImageView", item)

                <div class="card-body">
                    <a href="@Url.Action("Detail","Search", new { id = item.ID }, null)" class="card_book_link">
                        <h4 class="card-title">@item.Title</h4>
                    </a>
                </div>
            </div>
            }

        </div>
    </div>
</section>
