﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemResultModel

@*<div class="form-group">
    @Html.Label("Language", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="styled-select">
        @Html.DropDownListFor(model => model.LanguageCode, languageItems, "-- Select Language --", new { @class = "languageDropDown", @multiple = "multiple" })
    </div>
</div>*@

<div class="form-group">
    @Html.Label("Languages", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="styled-select">
        @Html.ListBoxFor(m => m.SelectedLanguageItems, new SelectList(Model.AllLanguageItems, "Name", "Name"), new { @class = "languageDropDown", @multiple = "multiple" })
    </div>
</div>
