﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemSearchModel

<div class="container">
    <div class="row justify-content-left">
        <div class="col-md-10">
            <div class="content">
                <h1>Discover the world of<br> Books</h1>
                <h3>Join the Adneotheque now and start<br>reading</h3>
                <div class="col-md-12">

                    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "form-inline form-search" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.EditorFor(model => model.SearchKey, new { htmlAttributes = new { @class = "form-control input-search", @placeholder = "ISBN, Name, Author" } })
                        <input type="submit" value="Send" class="btn btn-form" />
                    }

                </div>

            </div>
        </div>
    </div>
</div>