﻿<p class="text-center"> <a href="@Url.Action("Index","Home")" class="btn btn-link"> ← Back to Home</a> </p>
<!-- Container -->
<div class="container">
    <section class="row">
        <div class="col-md-12">
            <!--<p class="text-center vertical-space">&copy; ADNEOM. All Rights Reserved</p>-->
        </div>
    </section>
    <!-- // End Client Logos -->
</div>