﻿<section class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pt-5">
                <div class="container" style="background-image:  url('/assets/pictures/Bg_news_book.png');background-size: cover;">
                    <div class="row">
                        <div class="col-md-6 pt-md-4">
                            <img class="mx-auto d-block book_picture" src="/assets/pictures/Book10.jpg">
                        </div>
                        <div class="col-md-6 pt-md-4 pb-2">
                            <div class="col-md-12 pt-md-5 text-md-right">
                                <span class="book_month_author">Stephen King</span>
                            </div>
                            <div class="col-md-12 text-md-right">
                                <span class="book_month_title">Christine</span>
                            </div>
                            <div class="col-md-12 text-md-right">
                                <span class="book_month_rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 pt-5">
                <div class="news_title mb-3">
                    <span class="col-md-offset-1">Discover New Books</span>
                </div>
                <div class="col-md-offset-1">
                    <span class="news_description">In hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, non ultrices sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel. Fusce lorem leo, vehicula at nibh quis, facilisis accumsan turpis.</span>
                </div>
                <div class="col-md-offset-1">
                    <form>
                        <input id="newsletter" class="news_inputmail form-control" name="newsletter" type="text" placeholder="Type your email adress">
                        <a class="mx-auto d-block btn btn-newsletter" href="#" role="button">Send</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>