﻿@{
    var languageFilterModel = (IList<Adneom.Adneotheque.Domain.Models.Item.LanguageModel>)ViewBag.LanguageFilters;
    string languageQueryValue = Adneom.Adneotheque.Common.Helpers.CommonHelpers.GetCurrentQueryParameter(Adneom.Adneotheque.Business.Services.ItemService.LanguageQueryString);

    string availabilityQueryValue = Adneom.Adneotheque.Common.Helpers.CommonHelpers.GetCurrentQueryParameter(Adneom.Adneotheque.Business.Services.ItemService.AvailabilityQueryString);

    var categoryFilterModel = (IList<Adneom.Adneotheque.Domain.Models.Item.CategoryFilterModel>)ViewBag.CategoryFilters;
    string categoryQueryValue = Adneom.Adneotheque.Common.Helpers.CommonHelpers.GetCurrentQueryParameter(Adneom.Adneotheque.Business.Services.ItemService.CategoryQueryString);
}

<div class="filter_menu">
    <!-- Contenedor -->
    <ul class="menu">
        @*Language Starts*@
        <li>
            <div class="link">
                Language
                @if (!string.IsNullOrEmpty(languageQueryValue))
                {
                    <i class="far fa-check-square filtersOn"></i>
                }
                <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">

                @foreach (Adneom.Adneotheque.Domain.Models.Item.LanguageModel languageItem in languageFilterModel)
                {
                    string lngNameWithCount = languageItem.Name + " (" + languageItem.Count + ")";
                    <li>
                        <div class="row">
                            <div class="col-md-9">
                                <span>@lngNameWithCount</span>
                            </div>
                            <div class="col-md-3 pt-md-2">
                                @Html.CheckBox(@languageItem.Name, new Dictionary<string, object>{
                                                {"id", "lng-"+@languageItem.Code},
                                                {"onclick","setCompleteStatus.call(this)"},
                                                {"data-filter", "language"},
                                                {"data-filter-value", @languageItem.Code},
                                                {languageQueryValue == languageItem.Code ? "checked": "data-checked","false"},
                                                {"class", "filter_checkbox"}})
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </li>
        @*Language Ends*@

        @*Availability Starts*@
        <li>
            <div class="link">
                Available
                @if (!string.IsNullOrEmpty(availabilityQueryValue))
                {
                    <i class="far fa-check-square filtersOn"></i>
                }
                <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                <li>
                    <div class="row">
                        <div class="col-md-9">
                            <span>@Html.Raw("Available")</span>
                        </div>
                        <div class="col-md-3 pt-md-2">
                            @Html.CheckBox("Available", new Dictionary<string, object>{
                                            {"id", "avb-1"},
                                            {"onclick","setCompleteStatus.call(this)"},
                                            {"data-filter", "availability"},
                                            {"data-filter-value", "1"},
                                            {availabilityQueryValue == "1" ? "checked": "data-checked","false"},
                                            {"class", "filter_checkbox"}})
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-9">
                            <span>@Html.Raw("Booked")</span>
                        </div>
                        <div class="col-md-3 pt-md-2">
                            @Html.CheckBox("Booked", new Dictionary<string, object>{
                                            {"id", "avb-0"},
                                            {"onclick","setCompleteStatus.call(this)"},
                                            {"data-filter", "availability"},
                                            {"data-filter-value", "0"},
                                            {availabilityQueryValue == "0" ? "checked": "data-checked","false"},
                                            {"class", "filter_checkbox"}})
                        </div>
                    </div>
                </li>
            </ul>
        </li>
        @*Availability Ends*@

        @*Category Starts*@
        <li>
            <div class="link">
                Category
                @if (!string.IsNullOrEmpty(categoryQueryValue))
                {
                    <i class="far fa-check-square filtersOn"></i>
                }
                <i class="fa fa-chevron-down"></i>
            </div>
            <ul class="submenu">
                @foreach (Adneom.Adneotheque.Domain.Models.Item.CategoryFilterModel categoryItem in categoryFilterModel)
                {
                    string catNameWithCount = categoryItem.Name + " (" + categoryItem.Count + ")";
                    <li>
                        <div class="row">
                            <div class="col-md-9">
                                <span>@catNameWithCount</span>
                            </div>
                            <div class="col-md-3 pt-md-2">
                                @Html.CheckBox(@categoryItem.Name, new Dictionary<string, object>{
                                                {"id", "lng-"+@categoryItem.ID},
                                                {"onclick","setCompleteStatus.call(this)"},
                                                {"data-filter", "category"},
                                                {"data-filter-value", @categoryItem.ID},
                                                {categoryQueryValue == categoryItem.ID.ToString() ? "checked": "data-checked","false"},
                                                {"class", "filter_checkbox"}})
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </li>
        @*Category Ends*@

        @*Rating Starts*@
        <li>
            <div class="link">Rating<i class="fa fa-chevron-down"></i></div>
            <ul class="submenu">
                <li><a href="#">5 stars</a></li>
                <li><a href="#">4 stars</a></li>
                <li><a href="#">3 stars</a></li>
                <li><a href="#">2 stars</a></li>
                <li><a href="#">1 stars</a></li>
            </ul>
        </li>
        @*Rating Ends*@
    </ul>
</div>