﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemSearchModel
<div id="wrap">
    @using (Html.BeginForm("SubSearchBoxViewPost", "Search", FormMethod.Post, new { @class = "navbar-form", @role = "search" }))
    {
        <div class="input-group">
            @Html.AntiForgeryToken()
            @Html.EditorFor(model => model.SearchKey, new { htmlAttributes = new { @id = "search", @class = "searchtop", @placeholder = "ISBN, Name, Author" } })
            <div class="input-group-btn">
                <input type="submit" value="Search" class="btn btn-form" id="search_submit" />
            </div>
        </div>
    }
</div>