﻿@if (User != null && User.Identity != null && !string.IsNullOrEmpty(User.Identity.Name))
{
    <li>
        <a class="btn btn-navy" href="@Url.Action("Index","Return")">
            <span class="Logo-Title">Hello,  @Adneom.Adneotheque.Common.Helpers.CommonHelpers.CleanUserDomain(User.Identity.Name)</span>
        </a>
    </li>
}