﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemResultModel

@{
    ViewBag.Title = "Donate Detail";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<section class="formulaire">
    <div class="container">
        <div id="donate_form">
            @using (Html.BeginForm("Detail", "Donate"))
            {
                @Html.AntiForgeryToken()

                <h3 class="pb-3">Please check or fill in the details of the book you want to donate</h3>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">

                    <div class="col-sm-6">

                        <div class="form-group">
                            @Html.Label("ISBN", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(m => m.ISBN, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>

                        <div class="form-group">
                            @Html.Label("Title", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            @Html.Label("Description", htmlAttributes: new { @class = "control-label col-md-2", rows = "20" })
                            @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        @Html.Partial("CategoryDropDownListView")

                    </div>

                    <div class="col-sm-6">

                        <div class="form-group">
                            @Html.Label("GoogleBooksVolumeID", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(m => m.GoogleBooksVolumeID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Subtitle, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Subtitle, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Authors, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.Authors, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                        @Html.Partial("LanguageDropDownListView")

                    </div>
                </div>

                <div id="button-form">
                    <button type="submit" name="process" class="btn btn-donate">Continue</button>
                </div>
            }
        </div>
    </div>
</section>
