﻿@model Adneom.Adneotheque.Domain.Models.Item.ItemSearchModel

@{
    ViewBag.Title = "Donate Search";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<section class="formulaire">
    <div class="container">
        <div id="donate_form">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <h3 class="pb-3">Please give the ISBN of the book you want to donate</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.EditorFor(model => model.SearchKey, new { htmlAttributes = new { @class = "form-control", @placeholder = "ISBN" } })
                            @Html.ValidationMessageFor(model => model.SearchKey, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div id="button-form">
                    <button type="submit" name="process" class="btn btn-donate">Continue</button>
                </div>
            }

        </div>
    </div>
</section>