﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<section class="about">
    <div class="container pt-5">
        <h1>Welcome to Adneotheque!</h1>

        <p class="lead pt-5">Adneotheque is the online book sharing platform made with love by the Adneom lab team. Here you can browse through the catalogue to see if there is a book you like, and you could also donate a book to our collection via our donate page. Donations are very important to keep the project growing, so we receive every new book very enthusiastically.</p>
        <p class="lead">“The journey of a lifetime starts with the turning of a page”. So don’t wait and start your journey right now with adneotheque!</p>
    </div>
</section>