﻿@model IList<Adneom.Adneotheque.Domain.Models.Item.ItemSearchModel>

@{
    ViewBag.Title = "Search";
}

<h2>Catalog</h2>



<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>ISBN</th>
            <th>Detail Link</th>
            <th>Image</th>
        </tr>
    </thead>

    <tbody>


        @foreach (Adneom.Adneotheque.Domain.Models.Item.ItemSearchModel item in Model)
        {
            <tr>
                <td>
                    <p>@item.Title</p>
                </td>

                <td>
                    <p>@item.ISBN</p>
                </td>

                <td>
                    @if (item.SearchStatus == Adneom.Adneotheque.Domain.Models.Item.SearchStatus.ResultFromDB)
                    {
                        @Html.ActionLink("Click for details", "CatalogDetail", "Borrow", new { id = item.ID }, null)
                    }
                </td>

                <td>
                    @Html.Partial("ItemImageView", item)
                </td>

            </tr>
        }
    </tbody>
</table>
