﻿@{
    ViewBag.Title = "Notification is not sent successfully";
    Layout = "~/Views/Shared/_LayoutSub.cshtml";
}

<section class="thankyou">
    <div id="top" class="text-center vertical-space" role="main">
        <div class="container">
            <div class="logo">
                <a href="@Url.Action("Index","Search")"><img src="/assets/pictures/check.png" alt="Check icon"></a>
            </div>
            <h5 class="headline-support">Please contact to administration.</h5>
        </div>
    </div>
    <!-- //   Header Ends -->
    @Html.Partial("MessageCommonView")
</section>